
<div class="container">
  <div class="display-row">
    <div class="display-totals">
      <h3>Total Paid: {{this.totalPayments}}</h3>
      <h3>Total Interest Paid: {{this.totalInterest}}</h3>
    </div>
    <div class="display-spiral">
      <svg id="spiral">

      </svg>
    </div>

  </div>
  <div class="input-row">
    <div class="col-thirds">
      <h2>Add New Payment</h2>
      <button (click)="addNewDebt()" name="button">Add New Payment</button>
    </div>
    <div class="col-thirds" *ngFor="let debt of debtsArray; let i=index">
      <app-debt-view [debt]="debt" (sendDebt)="saveDebt($event, i)"></app-debt-view>
    </div>

  </div>



</div>
<!-- <app-stack-test></app-stack-test> -->
