/* You can add global styles to this file, and also import other style files */
div {
  /*border: 1px solid blue;*/
}

.display-totals {
  display: inline-block;
}

.display-spiral {
  width: 500px;
  display: inline-block;
}

.display-row {
  height: 80vh;
}

.input-row {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-thirds {
  display: inline-block;
  height: 300px;
  width: 200px;
  margin-bottom: 30px;



}
