/* You can add global styles to this file, and also import other style files */

@font-face{
    font-family: 'mexcellent_3d';
    src: url('/assets/mexcellent_3d.ttf')format('truetype');
}
@font-face{
    font-family: 'mexcellent';
    src: url('/assets/mexcellent.ttf')format('truetype');
}

body, button{
    font-family: 'mexcellent';
}
.title{
    font-family: 'mexcellent_3d';
}

.hidden {
  display: none;
}

/* named to not conflict with bootstrap's tooltip styles */
.toolbox {
  position: fixed;
  font-size: .8em;
  top: 50px;
  left: 50px;
  background-color: grey;
  border: 2px solid black;
  z-index: 1000;
}

.display-row {
    height: 100vh;
}

.column {
    overflow: scroll;
}

.debt-input>h2,
.debt-input>button {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.card {
    margin-bottom: 10px;
}
